.box-container div {
  padding: 8px;
  display: flex;
  justify-items: center;
  align-items: center;
}

button-overlay {
  position: relative;
}

button-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(184 193 204 / 0.12);
  z-index: 1;
}

.button-text {
  position: relative;
  z-index: 2;
}
